<div class="container mt-5">
    <form [formGroup]='resetPasswordForm' (ngSubmit)="resetPasswordForm.valid && resetPassword()" autocomplete="off">
        <h2>Reset Password</h2>
        <hr>
        <div class="form-group">    
            <app-text-input [formControl]='resetPasswordForm.controls["password"]' [label]='"New Password"' [type]='"password"'></app-text-input>
            <app-text-input [formControl]='resetPasswordForm.controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>
        </div>
        <div class="form-group">
            <button [disabled]="!resetPasswordForm.valid" class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>