<div class="container mt-5">
    <form [formGroup]='resendEmailForm' (ngSubmit)="resendEmailForm.valid && resendEmail()" autocomplete="off">
        <h2>Resend Confirmation Email</h2>
        <hr>
        <div class="form-group">    
            <app-text-input [formControl]='resendEmailForm.controls["email"]' [label]='"Valid Email"'></app-text-input>
        </div>
        <div class="form-group">
            <button [disabled]="!resendEmailForm.valid" class="btn btn-success" type="submit">Send Email</button>
        </div>
    </form>
</div>